.dashboard__infoBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
@media(max-width:600px){
    .dashboard__infoBox{
        flex-direction: column;
    }
}